<button class="btn btn-outline-success px-3" (click)="onAddNewFriut()"> New Friut</button>
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fruitList;let index = index">
        <th scope="row">{{index + 1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td> 
      </tr> 
    </tbody>
  </table>